@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap');


:root {
  --primary-color: #000000;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lemonada', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}
/* Navbar styling */

.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
} 

.navbar .flex {
  justify-content: space-between;
}

/* Showcase */

.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% 45%;
  gap: 30px;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 100px;
  z-index: 100;
  justify-self: flexend;
}

.showcase-form h2 {
  color:rgb(255, 255, 255)
}

.showcase-form .form-control {
  margin: 30px 1px 20px;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #68706d;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
}

.showcase::before,
.showcase::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #1a4a04;
}

/* About */

.about {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.about h1 {
  font-size: 40px;
}

.about p {
  margin: 20px 0;
}

.about .grid {
  overflow: hidden;
  grid-template-columns: 60% 40%;
  gap: 30px;
}

/* Mp3 Music */

.musicmp3 {
    height: 600px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
  }
  
  .musicmp3 h1 {
    font-size: 40px;
  }
  
  .musicmp3 .grid {
    overflow: hidden;
    grid-template-columns: 55% 45%;
    gap: 30px;
  }


/* Utilities */

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.card {
  background-color: rgb(126, 150, 118);
  color: #333;
  opacity: .95;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  border: outset;
  border-radius: 5px; 
}


.btn-outline {
  background-color: transparent;
  border: 1px #fff solid;
}

.btn:hover {
  transform: scale(o.90);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: none;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.social
{
  position: relative;
  margin-right: 40pc;
  z-index: 10;
  bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(.49);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}


/* Other Projects */
@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500&display=swap');

body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family: Halant,"Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    columns: #666666;
}

.png1, .png2, .png3{
    position:relative;
    opacity:0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
    
    /*
    fixed= parallax
    scroll= static
    */
}

.png1{
    background-image: url('../img/image1.jpg');
    min-height:100%;
}

.png2{
    background-image: url('../img/image2.jpg');
    min-height:400px;
}

.png3{
    background-image: url('../img/image3.jpg');
    min-height:400px;
}

.section{
    text-align: center;
    padding: 40px 120px;
}

.section-light{
    background-color: #f4f4f4;
    color: #666666
}

.section-dark{
    background-color: #666666;
    color:#ddd;
}

.ptext{
    position: absolute;
    top: 50%;
    width:100%;
    text-align: center;
    color:#000;
    font-size: 27px;
    font-family: Halant;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border{
    background-color: #111;
    color:#fff;
    padding:20px;

}

.ptext .border.trans{
    background-color:transparent;    
}

.ptext .border.alt{
    background-color:transparent;
    color:#111;
}

@media(max-width:568px){
    .png1, .png2, .png3{
        background-attachment: scroll;
    }
}

.social-menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
    visibility: hidden;
}

.social-menu ul li {
    list-style: none;
    margin: 0 15px;
}
.social-menu ul li .fa {
    font-size:30px;
    line-height: 60px;
    transition: .6%;
    color: #000;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #fff;
    text-align: center;
    transition: .6%;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover {
    transform: translate(0 -10px);
}
.social-menu ul nth-child a:hover {
    background-color: #3b5999;;
}
